<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-controller="phoneList">
search: <input type="text" ng-model="search">
sort by: <select ng-model="orderByValue">
    <option value="age">age</option>
    <option value="index">index</option>
</select>
<ul>
    <li ng-repeat="phone in phones | filter : search | orderBy : orderByValue">
        <p>{{phone.name}}</p>
        {{phone.email}}
    </li>
</ul>
<p>{{search || 'aaa'}}</p>
</body>
<script src="angular.js"></script>
<script src="app.js"></script>
</html>